body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.navbar {
    position: fixed; /* Keeps the navbar fixed relative to the viewport */
    top: 0; /* Places the navbar at the top of the viewport */
    left: 0; /* Aligns the navbar to the left edge of the viewport */
    width: 100%; /* Makes the navbar span the entire width of the viewport */
    z-index: 1000; /* Ensures the navbar stays on top of other content */
    background-color: #333; /* Background color for the navbar */
    padding: 10px; /* Adds padding around the navbar content */
    border-radius: 0; /* Optionally, removes any border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add*/
}

.navbar .brand-name a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    padding: 10px 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.dropdown {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.submenu li {
    padding: 5px 0;
}

.submenu a {
    color: white;
}

.dropdown:hover .submenu {
    display: block;
}

main {
    width: 80%;
    max-width: 800px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s;
}

.interactive-item {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.interactive-item:hover {
    background-color: #333;
    color: white;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
